
// Stylus
$dashy = dashed
.stylus_presence
    border-left 1px $dashy black


// Autoprefixer
.stylus_autoprefixer
    column-count 2


// Postcss-image
.stylus_url
    background-image url('tinytest.png')


// Postcss-svg
.stylus_svg
    background-image svg('tinytest.svg', '[fill]: blue')


// Postcss-zindex
.stylus_zindex_first
    position relative
    z-index 10

.stylus_zindex_second
    position relative
    z-index 15


// Stylus import
.stylus_import_absolute
    @import './tests/tinytest.import'

.stylus_import_relative
    @import 'tinytest.import'
